[Unit]
Description=Psyched will Service
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pete/psyched
Environment=HOST=cerebellum
ExecStart=/home/pete/psyched/tools/systemd_entrypoint.sh /home/pete/psyched/hosts/cerebellum/modules/will/launch.sh
ExecStop=/home/pete/psyched/tools/systemd_entrypoint.sh bash -c "\"/home/pete/psyched/hosts/cerebellum/modules/will/shutdown.sh\""
Restart=on-failure
RestartSec=2
User=pete
KillMode=control-group
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
